.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel {
  height: 400px;
  width: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%; /* Cada slide ocupa 1/3 da largura da tela */
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.pagination {
  text-align: center;
  margin-top: 10px;
}

.pagination-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-dot.active {
  background-color: #333;
}
