.container-options-carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-option {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.container-option label {
  width: 150px;
  margin-right: 10px;
}
.container-option input[type="text"] {
  width: 35px;
}
.container-option span {
  font-size: 12px;
  color: gray;
}
